---
---

<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager - CetakYasin.id</title>
  <link href="/admin/mobile.css" rel="stylesheet" />
  <link href="/admin/preview.css" rel="stylesheet" />
</head>
<body>
  <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
</body>
</html>
